@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;

}
body::before {
  content: "";
  position: fixed;
  background: #040404;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}
@font-face {
  font-family: "bootstrap-icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/static/my_portfolio/vendor/bootstrap-icons/fonts/bootstrap-icons.woff2") format("woff2"),
       url("/static/my_portfolio/vendor/bootstrap-icons/fonts/bootstrap-icons.woff") format("woff");
}

/* Only target the icon(s) you actually need */
.bi-arrow-left::before {
  display: inline-block;
  font-family: "bootstrap-icons"; /* make sure it's quoted */
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: -.125em;
  content: "\f12f"; /* Unicode for arrow-left */
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}
#header * {
  transition: ease-in-out 0.3s;
}
#header h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: 'Oxanium', cursive;
  
}

#header h1 a, #header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 20px;
  }

  #header .container {
    display: flex;
    align-items: center;
  }

  #header nav li a {
    font-size: 14px;
  }
}


a {
  color: #1bc4f8;
  text-decoration: none;
}

a:hover {
  color: #6eddff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, #header .lead {
  font-family: 'Oxanium', cursive;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }

  #header .lead {
    line-height: 2.5rem;
  }
  
}

.portfolio-details {
  padding-top: 40px;
  overflow-y: auto;
}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-info {
  padding-top: 45px;
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.swiper-slide .thumbnails {
    width: 100%;
    height: 450px;
  }

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }

  .portfolio-details {
    padding-top: 0;
    overflow-y: auto;
    }
}
.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1bc4f8;
}

section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Oxanium', cursive;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4da4ea;
    margin: 4px 10px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #1bc4f8;
}


.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}


.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}


.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}


.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}


.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 4px;
    font-size: 22px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}


.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}


.portfolio .portfolio-wrap img {
    height: 213px;
    width: 100%;
}


.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}


.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}


.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}


.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}


.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}


@media screen and (max-width: 1024px) {
  .swiper-slide .thumbnails {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}