{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- seo  -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Victor Okolie - Backend Web Developer</title>
  <meta content="victor, okolie, victor okolie, portfolio, web developer, backend, backend web developer, backend web development, django developer, django" name="keywords">
  
  <!-- Open graph meta tags -->

  <meta property="og:title" content="Victor Okolie - Backend Web Developer">
  <meta property="og:type" content="Portfolio website">
  <meta property="og:url" content="{{request.build_absolute_uri}}">
  <meta property="og:image" content="{% static 'og-image.GIF' %}">

  <meta property="og:description" content="Hi there, I'm Victor Okolie a Backend Web Developer and Software Engineer">
  <meta property="og:video" content="{% static 'og-video.MP4' %}" />
  <meta property="og:video:width" content="400" />
  <meta property="og:video:height" content="300" />

  <!-- twitter cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@victorokolie_" />
  <meta name="twitter:title" content="Victor Okolie - Backend Web Developer" />
  <meta name="twitter:description" content="Hi there, I'm Victor Okolie a Backend Web Developer and Software Engineer" />
  <meta name="twitter:image" content="{% static 'og-image.GIF' %}" />

  <link rel="canonical" href="{{request.path}}">
  <link rel="home" href="{% url 'index' %}">
  <!-- Favicons -->
  <link href="{%static 'favicon.ico' %}" rel="icon">
  <link href="{%static 'favicon.ico' %}"  rel="apple-touch-icon">
  
  <!--  CSS Files -->
  <link href="{% static 'my_portfolio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'my_portfolio/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'my_portfolio/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'my_portfolio/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'my_portfolio/css/style.css' %}" rel="stylesheet">
</head>

<body>
  
  <div id="particles-js"></div>
  <div class="loader-bg">
    <div class="loader"></div>
  </div>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="{% url 'index' %}">Victor Okolie</a></h1>
      <h2>I'm a well-rounded <span>Backend Web Developer</span> and <span>Software Engineer</span> from Nigeria, I build web apps using the current and <span>efficient</span> technologies with a logical approach</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#projects">Projects</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#blog">Blog</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="{{my_portfolio.twitter}}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="{{my_portfolio.discord}}" target="_blank" class="facebook"><i class="bi bi-discord"></i></a>
        <a href="{{my_portfolio.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="{{my_portfolio.github}}" target="_blank" class="github"><i class="bi bi-github"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4 mt-2" data-aos="fade-right">
          <img src="{{my_portfolio.image.url}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{my_portfolio.category}}</h3>
          <p>
            {{my_portfolio.about|safe}}
          </p>
         
          
        </div>
      </div>

    </div><!-- End About Me -->

   

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Technologies i work with</h2>
      </div>
      

        
      <div class="row">
        {% for tool in tools %}
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{tool.image}}" class="me-2">
              <h3>{{tool.name}}</h3>
            </div>
          </div>
        {% endfor %}
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Client Feedback</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          {% for feedback in feedbacks %}
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                {{feedback.feedback}}
                <i class="bi bi-quote quote-icon-right"></i>
                
              </p>
              {% if feedback.image %}
              <img src="{{feedback.image.url}}" loading="lazy" class="testimonial-img" alt="{{feedback.name}}'s photo">
              {% endif %}
              <h3>{{feedback.name}}</h3>
              <h4 class="fst-italic">{{feedback.email}}</h4>
            </div>
          </div><!-- End testimonial item -->
          {% endfor %}
          

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>
      <p class="my-4 fs-5 feedback-p">You have something you want to say about my work? let's hear it.</p>
      <div class="feedback">
        <form action="send_feedback" method="post" role="form" id="feedback-form" class="php-email-form container mt-4" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="client-name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="client-email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Feedback" id="feedback-message" maxlength="200" required></textarea>
          </div>
          <div class="form-group mt-3">
            <label for="image" class="fs-6 text-secondary mb-2">A photo of you</label>
            <input type="file" placeholder="image" accept="image/x-png,image/gif,image/jpeg" placeholder="A photo of you" class="form-control p-3 ps-4" name="image">
          </div>

          <div class="my-3">
            <div  id="error-feedback"></div>
            <div id="feedback-sent"></div>
          </div>
          <div class="text-center"><button type="submit" id='feedbackFormBtn'>Send Message</button></div>
        </form>
      </div>
    </div><!-- End Testimonials  -->

    

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>{{summary.name}}</h4>
            <p>
              {{summary.info|safe}}
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          {% for i in education %}
          <div class="resume-item">
            <h4>{{i.degree}}</h4>
            <h5>{{i.duration}}</h5>
            <p><em>{{i.institution}}</em></p>
          </div>
          {% endfor %}
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          {% for i in all_experience %}
          <div class="resume-item">
            <h4>{{i.role|upper}}</h4>
            <h5>{{i.duration}}</h5>
            {% if i.remote %}
            <p><em>Remote</em></p>
            {% endif %}
            <p>
            {{i.experience|safe}}
            </p>
          </div>
          {% endfor %}
          
          {% comment %} <div class="resume-item">
            <h4>Front end web development</h4>
            <h5>2022 - present</h5>
            <p>
            <ul>
              <li>Developed and designed front end data representation web pages using bootstrap</li>
            </ul>
            </p>
          </div> {% endcomment %}
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

   <!-- ======= project Section ======= -->
   <section id="projects" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for project_category in project_categories %}
            <li data-filter=".filter-{{project_category.name}}">{{project_category.name}}</li>
            {% endfor %}

          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.category}}">
          <div class="portfolio-wrap">
            <img src="{{project.projectthumbnail.all.0.image.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{project.title}}</h4>
              <p>{{project.category}}</p>
              <div class="portfolio-links mt-2">
                <a href="{{project.github_repo}}" target="_blank" title="Code"><i class="bi bi-code-slash"></i></a>
                <a href="{% url 'project_detail' project.slug %}" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Project Details"><i class="bi bi-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </section><!-- End project Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        {% for service in services %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="{{service.icon}}"></i></div>
            <h4><a href="">{{service.title}}</a></h4>
            <p>{{service.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Services Section -->



  <!-- ======= Resume Section ======= -->
  <section id="blog" class="blog">
    <div class="container" id="posts">

      <div class="section-title">
        <h2>Blog</h2>
        <p>Latest Posts</p>
      </div>

      <br>

      <center><div class="spinner-border align-items-center justify-content-center" id="blogLoader" role="status">
        <span class="visually-hidden">Loading...</span>
      </div></center>
      
      

    </div>
  </section><!-- End Resume Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact Me</h2>
        <p>Get In Touch</p>
      </div>
      <p class="mt-3 mb-4 contact-p">You have an awesome idea you want me to jump on or just want to say hi? Feel free to contact me. However, Please don't spam me :)</p>
      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <div class="icon">
              <i class="bi bi-geo-alt bx"></i>
            </div>
            <h3>My Address</h3>
            <p>{{my_portfolio.address}}</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <div class="icon">
              <i class="bi bi-share bx"></i>
            </div>
            <h3>Social Profiles</h3>
            <div class="social-links">
  

              <a href="{{my_portfolio.twitter}}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="{{my_portfolio.discord}}" target="_blank" class="facebook"><i class="bi bi-discord"></i></a>
              <a href="{{my_portfolio.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="{{my_portfolio.github}}" target="_blank" class="github"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <div class="icon">
              <i class="bi bi-envelope-at bx"></i>
            </div>
            <h3>Email Me</h3>
            <p>{{my_portfolio.user.email}}</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <div class="icon">
              <i class="bi bi-telephone-plus bx"></i>
            </div>
            <h3>Call Me</h3>
            <p>{{my_portfolio.phone_number}}</p>
          </div>
        </div>
      </div>
      <form action="{% url 'send_email' %}" id="email-form" method="post" role="form" class="php-email-form mt-4">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3" id="status-message">
          
          <!-- <div class="error-message" id="error-feedback"></div> -->
        </div>
        <div class="text-center"><button type="submit" id="submitEmailBtn">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <!-- loader -->
  <script src="{% static 'my_portfolio/vendor/jquery/jquery-3.6.0.js' %}"></script>
  <script>
    $(window).on('load', function () {
      setTimeout(() => {
        $(".loader-bg").fadeOut(1000);
      }, 1000);
    })
   
  </script>
  
  <!-- Vendor JS Files -->
  <!-- <script src="{% static 'my_portfolio/vendor/purecounter/purecounter.js' %}"></script> -->
  <script src="{% static 'my_portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'my_portfolio/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'my_portfolio/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'my_portfolio/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'my_portfolio/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'my_portfolio/vendor/particles-js/particles.min.js' %}"></script>

  

  <!-- Template Main JS File -->
  <script src="{% static 'my_portfolio/js/main.js' %}"></script>
  <script src="{% static 'my_portfolio/js/custom-particles.js' %}"></script>

  <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
  </script>

  <script src="{% static 'my_portfolio/js/form.js' %}"></script>
  <script src="{% static 'my_portfolio/js/get-blog-posts.js' %}"></script>


</body>

</html>